<div class="form-group">
	 <%= f.label :title%>
   <%= f.text_field :title,class: "form-control",placeholder: "Title *",required: true%>
</div>
<div class="form-group">
	 <%= f.label :description%>
   <%= f.cktext_area :description,class: "form-control",placeholder: "Description",required: true%>
</div>
 <div class="form-group">
 	 <%= f.label :image%>
   <%= f.file_field :image,class: "form-control image"%>
   <div id="image" class="thumbnail mt-3 position-relative">
   </div>
</div>